/* General */
@font-face {
    font-family: 'Lato 900';
    src: url('../fonts/lato/Lato-Black.ttf') format('opentype');
}

@font-face {
    font-family: 'Lato 700';
    src: url('../fonts/lato/Lato-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'Lato 400';
    src: url('../fonts/lato/Lato-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Lato 300';
    src: url('../fonts/lato/Lato-Light.ttf') format('opentype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
  }

.-pink {
    color: #F16D7F !important;
}

.-white {
    color: #FFF;
}

a { 
    text-decoration: none;
}

.account-button:active svg,
.cart-button:active svg,
.page-header-form label:active svg,
.filter-button:active svg,
.card-page-number-back:active svg,
.card-page-number-forward:active svg,
.cart-cards-close:active svg {
    fill: red !important;
}

button.menu-button:active > span,
.customer-subscribe-form-button:active,
.page-footer-socials-item:active,
.page-slider-arrow-left:active,
.page-slider-arrow-right:active,
.reg-submit:active {
    background: red !important;
}

.page-header-logo:active img {
    filter: brightness(80%);
}

.cards-hover-button:active,
.cards-button:active,
.cards-button:focus,
.page-slider-info-button:active,
.cart-cards-button-clear:active,
.cart-cards-button-continue:active,
.cart-cards-form-submit:active,
.cart-cards-summary-button:active {
    background: red !important;
    color: #FFF !important;
}
.page-catalog-teaser-item:active,
.filter-button:active,
.card-page-number-wrap a:active,
.page-header-menu-close-button:active .fa-times,
.new-arrivals:active {
    color: red !important; 
}
.page-footer-socials-item:active .fab {
    color: #FFF;
}

/* Header */
.page-header {
    width: 100%;
    background-color: #222222;
    position: relative;
}

.page-header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
    max-width: 1140px;
    align-content: center;
    margin: 0 auto;
}
.search-button-svg,
.account-button-svg,
.cart-button-svg {
    fill: #FFF;
}
.cart-button-svg path:nth-child(2) {
    fill: #F16D7F;
}

.cart-button-svg path:nth-child(3) {
    fill: #FFF;
}

.search-button-svg:hover,
.account-button-svg:hover,
.cart-button-svg:hover {
    fill: #F16D7F;
}
.menu-button:hover span {
    background-color: #F16D7F;
}
.search-button-svg {
    cursor: pointer;
}
.page-header-left {
    display: flex;
    align-self: center;
    margin: 0 0 0 32px;
}

.page-header-logo {
    margin-right: 41px;
}

.page-header-form {
    display: flex;
    align-self: flex-end;

}

#search-button {
    align-self: center;
    display: none;
}

.page-header-button-wrap {
    align-self: center;
    margin: 0 32px 0 0;
}

.menu-button {
    width: 32px;
    height: 23px;
}

.menu-button span {
    display: block;
    width: 100%;
    height: 3px;
    background: #E8E8E8;
}

.menu-button span:not(:last-child) {
    margin-bottom: 7px;
}

.account-button {
    margin: 0 33px;
}

.menu-button,
.cart-button,
.account-button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.page-header-menu {
    background-color: #FFF;
    height: calc(100% + 145px);
    position: absolute;
    padding: 16px 16px 0 34px;
    right: 0;
    margin-top: 75px;
    z-index: 1;
    min-width: 232px;
    display: none;
    top: 0;
}

.page-header-menu.show {
    display: block;
}

.page-header-menu-close {
    width: 100%;
    display: block;
    text-align: right;
}

.page-header-menu-close-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
}

.fas.fa-times {
    font-size: 14px;
}

.page-header-menu-title {
    font-family: "Lato 700", serif;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 24px;
}

.page-header-menu-title.-pink {
    font-family: "Lato 400", serif;
    margin-bottom: 12px;
}

.teaser-munu-links {
    font-family: "Lato 400", serif;
    font-size: 14px;
    list-style: none;
}

.teaser-munu-links a {
    color: #6F6E6E;
    text-decoration: none;
}

.teaser-munu-links li:not(:last-child) {
    margin-bottom: 11px;
}

.teaser-munu-links li:last-child {
    margin-bottom: 20px;
}

/* Teaser */
.page-teaser {
    width: 100%;
    background-color: #F1E4E6;
}
.teaser-image {
    display: block;
}
.page-teaser-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 65px;
    justify-content: center;
}
.page-teaser-wrap.dark{
    background: rgba(33, 22, 22, .7);
    background-blend-mode: darken;
}

.page-teaser-text {
    display: flex;
    flex-direction: column;
    top: -40px;
    position: relative;
}

.page-teaser-text::before {
    content: '';
    width: 12px;
    height: 92px;
    background: #F16D7F;
    position: absolute;
    left: -27px;
}

.page-teaser-title {
    font-size: 48px;
    display: block;
    text-transform: uppercase;
    font-family: "Lato 900", serif;
}

.page-teaser-subtitle {
    font-size: 32px;
    display: block;
    text-transform: uppercase;
    font-family: "Lato 700", serif;
}

/* Categories */
.categories {
    margin: 0 auto;
    max-width: 1140px;
}

.categories-small-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.categories-item {
    text-transform: uppercase;
    background-repeat: no-repeat;
}

.categories-item.-women {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%;
    background: rgba(33, 22, 22, .7) url('../img/categories-women.png');
    background-position: center;
    background-blend-mode: darken;
    height: 260px;
    margin-right: 30px;
}

.categories-item.-men {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%;
    background: rgba(33, 22, 22, .7) url('../img/categories-men.png');
    background-position: center;
    background-blend-mode: darken;
    height: 260px;
    margin-right: 30px;
}

.categories-item.-kids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%;
    background: rgba(33, 22, 22, .7) url('../img/categories-kids.png');
    background-position: center;
    background-blend-mode: darken;
    height: 260px;
}

.categories-item.-categories-full-wrap {
    display: flex;
    margin: 0 auto;
    padding: 65px 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 96px;
    background: rgba(33, 22, 22, .7) url('../img/categories-accessories.png');
    background-blend-mode: darken;
}

.categories-item.-categories-full-wrap .categories-item-title,
.categories-item.-categories-full-wrap .categories-item-subtitle {
    width: auto;
}

.categories-item-title {
    font-family: "Lato 400", serif;
    display: block;
    width: 154px;
}

.categories-item-subtitle {
    font-family: "Lato 700", serif;
    display: block;
    width: 154px;
}

/* Cards */
.cards {
    margin: 0 auto;
    max-width: 1140px;
}

.cards-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 16px;
}

.cards-hover-button {
    position: absolute;
    top: 31%;
    background: transparent;
    outline: none;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 14px;
    padding: 13px 16px 13px 13px;
    cursor: pointer;
    left: 30%;
    display: none;
}
.cards-hover-button:hover {
    color: #FFF;
    border-color: #FFF;
    background: #F16D7F;
}
.far.fa-shopping-cart {
    font-size: 14px;
    padding: 0 11px 0 0;
    color: #FFF;
}

.cards img {
    width: 100%;
    height: auto;
}
.cards-title {
    font-family: "Lato 400", serif;
    color: #222222;
    text-align: center;
    width: 100%;
    font-size: 30px;
}

.cards-paragraph {
    font-family: "Lato 400", serif;
    color: #9F9F9F;
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin-bottom: 48px;
}

.cards-item {
    font-family: "Lato 300", serif;
    width: calc((100% / 3) - 30px);
    background-color: #F8F8F8;
    margin: 0 0 30px 0;
    position: relative;
}

.cards-item-photo {
    display: block;
    margin: 0 0 25px 0;
}

.cards-item:hover .cards-item-photo {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cards-item.-backpack:hover .cards-hover-button {
    display: block;
}

.cards-item.-black-costume:hover .cards-hover-button {
    display: block;
}

.cards-item.-hat:hover .cards-hover-button {
    display: block;
}

.cards-item.-yellow-jeans:hover .cards-hover-button {
    display: block;
}

.cards-item.-blue-jacket:hover .cards-hover-button {
    display: block;
}

.cards-item.-olive-jacket:hover .cards-hover-button {
    display: block;
}

.cards-item-title {
    display: block;
    text-transform: uppercase;
    margin: 0 0 13px 0;
    padding: 0 0 0 18px;
}

.cards-item-text {
    display: block;
    margin: 0 0 18px 0;
    padding: 0 30px 0 18px;
}

.cards-item-price {
    display: block;
    padding: 0 0 0 18px;
    margin: 0 0 20px 0;
    font-size: 14px;
}

.cards-button {
    font-family: "Lato 400", serif;
    display: block;
    padding: 14px 39px 13px 39px;
    font-size: 16px;
    margin: 18px auto 109px auto;
    text-align: center;
    background-color: transparent;
    outline: none;
    border: 1px solid #F16D7F;
    cursor: pointer;
}
.cards-button:hover {
    background: #F16D7F;
    color: #FFF !important;
    border: 1px solid #FFF;
}
/* Service */
.service {
    font-family: "Lato 300", serif;
    color: #FBFBFB;
    padding: 103px 0 104px 0;
    background-color: #222224;
    width: 100%;
}

.service-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.service-item {
    width: 360px;
    margin: 0 0 28px 0;
    text-align: center;
}

.service-item-icon {
    fill: #F16D7F;
    display: block;
    margin: 0 auto 28px auto;
}

.service-item-icon.-sale {
    margin: 0 auto 19px auto;
}

.service-item-icon.-quality {
    margin: 0 auto 25px auto;
}

.service-item-title {
    font-size: 20px;
    margin: 0 0 16px 0;
    display: block;
}

.service-item-text {
    font-size: 14px;
}

/* Customers */
.customer {
    font-family: "Lato 400", serif;
    width: 100%;
    background-image: url('../img/customers-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.customer-wrap {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 97px 0 126px 0;
}

.customer-info-avatar {
    width: 96px;
    height: 96px;
    background-image: url('../img/avatar.png');
    margin: 0 auto 30px auto;
}

.customer-info-text {
    font-size: 20px;
    font-style: italic;
    color: #222224;
    width: 360px;
    text-align: center;
}

.customer-subscribe {
    padding: 47px 0 0 0;
    text-align: center;
}

.customer-subscribe-title {
    font-size: 24px;
    text-transform: uppercase;
    display: block;
    margin: 0 0 8px 0;
}

.customer-subscribe-subtitle {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 32px 0;
}

.customer-subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.customer-subscribe-form-email {
    display: block;
    border-radius: 10px 0 0 10px;
    background-color: #E1E1E1;
    width: 256px;
    height: 49px;
    border: none;
    outline: none;
    padding: 0 0 0 22px;
    color: #222224;
    font-size: 14px;
    box-shadow: none;
}

.customer-subscribe-form-button {
    display: block;
    border-radius: 0 10px 10px 0;
    background-color: #F16D7F;
    color: #FFF;
    width: 100px;
    height: 49px;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
}

.customer-subscribe-form-button:hover {
    color: #222224;
}

/* Footer */
.page-footer {
    font-family: "Lato 400", serif;
    width: 100%;
    background-color: #222224;
    padding: 30px 0;
}

.page-footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 32px;
}

.page-footer-text {
    color: #FBFBFB;
    font-size: 16px;
}

.page-footer-socials {
    display: flex;
    flex-direction: row;
}

.page-footer-socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #FFF;
    color: #000;
}

.page-footer-socials-item:hover {
    background-color: #F16D7F;
    color: #FFF;
}

.page-footer-socials-item:not(:last-child) {
    margin: 0 8px 0 0;
}

.page-footer-socials-item i:before {
    display: table;
}


/* CATALOG PAGE */

.page-teaser-catalog {
    width: 100%;
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.page-catalog-teaser-left {
    font-size: 24px;
    font-family: "Lato 400", serif;
    color: #F16D7F;
}
.page-catalog-teaser-right a:not(:last-child)::after {
    content: ' / '
}
.new-arrivals {
    font-family: "Lato 700", serif;
}
.page-catalog-teaser-right,
.page-catalog-teaser-right .page-catalog-teaser-item {
    color: #636363;
    font-family: "Lato 300", serif;
}
.page-catalog-teaser-right .page-catalog-teaser-item:hover {
    color: #F16D7F;
}

.page-teaser-catalog-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    max-width: 1140px;
    margin: 0 auto;
    min-height: 148px;
    padding: 0 16px;
}

.card-filer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-filter-button-wrap {
    width: 30%;
    display: block;
    margin-bottom: 64px;
    border: none;
}

.card-filer .filter-button {
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 8;
}

.card-filer button:hover {
    color: #F16D7F;
    fill: #F16D7F;
}

.filter-button {
    color: #000000;
    background: #FFF;
    border: none;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    border: none;
}

.filter-button-size-wrap {
    position: relative;
}

.filter-button-size-wrap:hover .filter-checkbox-wrap {
    display: block;
}

.filter-checkbox-wrap {
    position: absolute;
    background: #FFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    z-index: 8;
    width: 69px;
    left: -9px;
    top: 27px;
    padding: 10px 0 10px 10px;
    display: none;
}

.filter-checkbox-wrap span {
    display: block;
    color: #6F6E6E;
    font-size: 14px;
}

.filter-checkbox-wrap input {
    margin-right: 9px;
    border-radius: 0;
}

.filter-checkbox-wrap span:not(:last-child) {
    margin-bottom: 10px;
}

.card-filter-button-wrap:hover .card-filter-menu {
    display: block;
}

.card-filter-button-wrap:hover .filter-button {
    margin-left: 16px;
}

.filter-button-trend-wrap {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    top: -32px;
    position: relative;
}

.filter-button-arrow-down {
    top: -2px;
    position: relative;
    margin-left: 10px;
}
.filter-button-trend-wrap .filter-button {
    color: #6F6E6E;
}
.filter-button-trend-wrap .filter-button:not(:last-child) {
    margin-right: 28px;
}
.card-page-number {
    width: 282px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    padding: 15px 16px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 18px auto 96px auto;
}

.card-page-number-back svg,
.card-page-number-forward svg {
    fill: #000;
}

.card-page-number-back:hover svg,
.card-page-number-forward:hover svg {
    fill: #F16D7F;
}

.card-page-number-back {
    margin-right: 17px;
}

.card-page-number-forward {
    margin-left: 15px;
}

.card-page-number-forward,
.card-page-number-back {
    background: #FFF;
    outline: none;
    border: none;
    cursor: pointer;
}

.card-page-number-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.card-page-number a {
    font-family: "Lato 300", serif;
    background: transparent;
    border: none;
    outline: none;
    color: #EBEBEB;
    font-size: 16px;
    display: block;
    cursor: pointer;
}

.card-page-number button:hover,
.card-page-number a:hover {
    color: #F16D7F;
}

.card-page-number-dots::before {
    content: '.....';
    color: #EBEBEB;
}
/* Filter */
.card-filter-button-wrap {
    position: relative;
}

.card-filter-menu {
    background: #FFF;
    padding: 45px 0 16px 17px;
    position: absolute;
    left: 0;
    top: -13px;
    font-family: "Lato 400", serif;
    width: calc((100%) - 17px);
    z-index: 5;
    display: block;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    display: none;
}

.card-filter-menu-category {
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #EBEBEB;
    padding-left: 11px;
    position: relative;
    width: calc((100%) - 17px);
    display: block;
    min-height: 36px;
    cursor: pointer;
}

.card-filter-menu-category span {
    padding-top: 9px;
    display: block;
}

.card-filter-menu-category::before {
    content: '';
    width: 5px;
    height: 37px;
    background: #F16D7F;
    position: absolute;
    left: 0;
}

.card-filter-menu-list {
    margin: 24px 0;
    padding-left: 17px;
}

.card-filter-menu-list li {
    list-style: none;
}

.card-filter-menu-list a {
    color: #6F6E6E;
}

.card-filter-menu-list li:not(:last-child) {
    margin-bottom: 11px;
}

.card-filter-menu-category.-brand {
    margin-bottom: 18px;
}

/* Product */
.page-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 777px;
    background-image: url('../img/product-teaser.png');
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin: 0 auto;
}
.page-slider.dark {
    filter: brightness(70%);
}
.page-slider-arrow-left,
.page-slider-arrow-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 47px;
    border: none;
    outline: none;
    background: rgba(42, 42, 42, 0.15);
    cursor: pointer;
}

.page-slider-arrow-left:hover,
.page-slider-arrow-right:hover {
    background: #F16D7F;
    fill: #FFF;
}

.page-teaser-catalog.-product {
    margin-bottom: 130px;
}

.page-slider-info {
    width: 100%;
    background: #FFF;

}

.page-slider-info-wrap {
    font-family: "Lato 300", serif;
    background: #FFF;
    max-width: 1104px;
    border: 1px solid #EAEAEA;
    margin: 0 auto;
    position: relative;
    top: -64px;
    text-align: center;
    padding-top: 64px;
}

.page-slider-info-title {
    font-size: 14px;
    position: relative;
    margin-bottom: 27px;
}

.page-slider-info-title::after {
    content: '';
    width: 63px;
    height: 3px;
    background: #F16D7F;
    position: absolute;
    left: 47%;
    margin: 0 auto;
    text-align: center;
    top: 27px;
}

.page-slider-info-subtitle {
    font-size: 18px;
    color: #4D4D4D;
    margin-bottom: 48px;
}

.page-slider-info-title,
.page-slider-info-subtitle {
    display: block;
    text-transform: uppercase;
}

.page-slider-info-text {
    color: #5E5E5E;
    max-width: 640px;
    margin: 0 auto 32px auto;
    font-size: 14px;
    line-height: 17px;
}

.page-slider-info-price {
    display: block;
    font-size: 24px;
    max-width: 640px;
    margin: 0 auto 65px auto;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 65px;
}


.filter-button-trend-wrap.-product {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
}

.filter-button-trend-wrap.-product button {
    margin-bottom: 0;
    height: 20px;
}

.filter-button-trend-wrap.-product button:hover {
    color: #F16D7F;
    cursor: pointer;
}


.size-button-hover:hover .filter-checkbox-wrap {
    display: block;
}

.filter-button-trend-wrap.-product .filter-checkbox-wrap {
    left: 50%;
    top: 20px;
    text-align: left;
}

.page-slider-info-button {
    font-family: "Lato 400", serif;
    display: block;
    padding: 14px 39px 13px 39px;
    font-size: 16px;
    margin: 18px auto 109px auto;
    text-align: center;
    background-color: transparent;
    outline: none;
    border: 1px solid #F16D7F;
    cursor: pointer;
    width: 212px;
}

.page-slider-info-button:hover {
    background-color: #F16D7F;
    color: #FFF !important;
    border: 1px solid #FFF;
}

.page-slider-info-button-icon {
    padding-right: 15px;
    font-size: 18px;
}

.cards.-product {
    margin-bottom: 130px;
}

/* Cart */
.page-teaser-catalog.-cart {
    margin-bottom: 96px;
}

.cart-cards {
    width: 100%;
}

.cart-cards-info span:not(:last-child) {
    margin-bottom: 6px;
}

.cart-cards span.-pink {
    display: initial;
}

.cart-cards-button-clear {
    font-family: "Lato 300", serif;
    background: #FFF;
    outline: none;
    color: #000;
    cursor: pointer;
}

.cart-cards-button-clear:hover,
.cart-cards-button-continue:hover,
.cart-cards-form-submit:hover {
    background: #F16D7F;
    color: #FFF;
    border-color: #FFF;
}

.cart-cards-wrap {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-cards-items span {
    display: block;
}

.card-cards-items {
    width: 57%;
    margin-right: 9%;
}

.cart-cards-item {
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    display: flex;
    flex-direction: row;
    position: relative;
}

.cart-cards-item:not(:last-child) {
    margin-bottom: 40px;
}

.cart-cards-close {
    position: absolute;
    width: 21px;
    height: 21px;
    background: transparent;
    border: none;
    outline: none;
    right: 22px;
    top: 28px;
    cursor: pointer;
}

.cart-cards-close:hover svg {
    fill: #F16D7F;
}

.cart-cards-text {
    padding: 22px 22px 0 31px;
    background: #FFF;
    width: 100%;
}

.cart-cards-title,
.cart-cards-subtitle {
    font-family: "Lato 400", serif;
    text-transform: uppercase;
    font-size: 24px;
}

.cart-cards-subtitle {
    margin-bottom: 42px;
}

.cart-cards-info {
    font-size: 22px;
}

.cart-cards-input-quantity {
    font-family: "Lato 400", serif;
    width: 44px;
    height: 25px;
    text-align: center;
    font-size: 18px;
    outline: none;
    margin-left: 24px;
    vertical-align: bottom;
}

.cart-cards-buttons {
    font-family: "Lato 300", serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 72px 0 129px 0;
}

.cart-cards-button-clear,
.cart-cards-button-continue {
    border: 1px solid #A4A4A4;
    padding: 17px 40px;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}

.card-cards-items,
.cart-cards-form {
    background: #FFF;
}


.cart-cards-form {
    width: 33%;
}

.cart-cards-form-title {
    font-family: "Lato 300", serif;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 20px;
    display: block;
}

.cart-cards-form input:not(:last-child) {
    display: block;
    padding: 13px 16px;
    width: 88.8%;
    margin-bottom: 20px;
    font-size: 13px;
    outline: none;
}

.cart-cards-form input.cart-cards-form-zip {
    margin-bottom: 24px;
}

.cart-cards-form-submit {
    font-family: "Lato 300", serif;
    background: none;
    border: 1px solid #A4A4A4;
    font-size: 11px;
    color: #4A4A4A;
    padding: 10px 14px;
    display: block;
    cursor: pointer;
    width: 100px;
}

.cart-cards-summary {
    margin-top: 57px;
    background: #F5F3F3;
    padding: 39px 42px 42px 42px;
    display: block;
}

.cart-cards-summary-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: right;
}

.cart-cards-summary-wrap:after {
    content: '';
    position: absolute;
    background: #E2E2E2;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
}

.cart-cards-summary-subtotal {
    font-family: "Lato 400", serif;
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.cart-cards-form-grandtotal {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 21px;
}

.cart-cards-form-grandtotal-sub {
    font-family: "Lato 400", serif;
    margin-right: 24px;
}

.cart-cards-form-grandtotal-grand {
    font-family: "Lato 300", serif;
    margin-right: 24px;
}

.cart-cards-form-grandtotal .-pink {
    font-family: "Lato 700", serif;
}

.cart-cards-summary-button {
    width: 100%;
    background: #F16D7F;
    color: #FFF;
    text-transform: uppercase;
    padding: 15px 42px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 17px;
    font-size: 16px;
}

.cart-cards-summary-button:hover {
    color: #000;
}
/* / Cart */

/* Registration */
.page-teaser-catalog.-registration {
    margin-bottom: 96px;
}

.reg {
    width: 100%;
    margin-bottom: 96px;
    font-family: "Lato 300", serif;
}

.reg-form-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
}

.reg-form {
    margin-right: 128px;
}

.reg-form-name,
.reg-form-surname,
.reg-email,
.reg-password {
    display: block;
    width: 100%;
    padding: 13px 16px;
    font-size: 13px;
}

.reg-form-name:focus,
.reg-form-surname:focus,
.reg-email:focus,
.reg-password:focus {
    outline-width: 3px;
    outline-style: solid;
    outline-color: rgba(255, 0, 0, 0.295);
  }

.reg-form-name {
    margin-bottom: 20px;
}

.reg-form-surname {
    margin-bottom: 30px;
}

.reg-form-name-title,
.reg-form-login-title {
    color: #222;
    margin-bottom: 20px;
    display: block;
}

.reg-form-radio {
    display: block;
    margin-bottom: 30px;
}

.reg-form-radio input {
    margin-right: 10px;
}

.reg-form-radio-male,
.reg-form-radio-femail {
    margin-right: 20px;
}

.reg-email {
    margin-bottom: 20px;
}

.reg-password {
    margin-bottom: 15px;
}

.reg-form-text {
    color: #B1B1B1;
    font-size: 13px;
    margin-bottom: 40px;
}

.reg-submit {
    width: 167px;
    text-transform: uppercase;
    color: #FFF;
    background: #F16D7F;
    border: none;
    cursor: pointer;
    padding: 16px 0;
    font-size: 14px;
}

.reg-submit svg {
    fill: #FFF;
    margin-left: 20px;
}

.reg-info {
    width: 652px;
}

.reg-info-title {
    text-transform: uppercase;
    display: block;
    margin-bottom: 22px;
    font-size: 24px;
}

.reg-info-text {
    display: block;
    margin-bottom: 22px;
    font-size: 24px;
}

.reg-info-list {
    padding-left: 30px;
}

.reg-info-list li {
    list-style: none;
    position: relative;
}

.reg-info-list li::before {
    content: '';
    width: 20px;
    height: 16px;
    background-image: url(../img/check.svg);
    position: absolute;
    left: -29px;
    top: 3px;
}

.reg-info-list li:not(:last-child) {
    margin-bottom: 16px;
}

.reg-submit:hover {
    color: #222224;
}

.reg-submit:hover svg {
    fill: #222224;
}
/* / Registration */


/* Media */
@media only screen and (max-width: 1140px) {
    .teaser-image {
        width: 50%;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .teaser-image {
        width: 50%;
    }
    .page-teaser-catalog-wrap {
        padding: 0 16px;    
    }
    .page-teaser-text {
        top: 0;
    }

    .page-teaser-title {
        font-size: 44px;
    }

    .page-teaser-subtitle {
        font-size: 24px;
    }

    .cards-wrap {
        justify-content: space-evenly;
    }

    .categories-item-title {
        font-size: 16px;
        width: auto;
    }

    .categories-item-subtitle {
        font-size: 24px;
        width: auto;
    }

    .categories {
        padding: 0 16px;
    }

    .categories-item:not(:last-child) {
        margin-right: 20px;
    }

    .categories-item.-women,
    .categories-item.-men,
    .categories-item.-kids {
        height: 167px;
        background-size: cover;
        flex: 1 1 28%;
    }

    .categories-item.-categories-full-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 116px;
        background-size: cover;
        padding: 0;
    }

    .cards-item {
        width: calc((100% / 2) - 30px);
    }
    .cards-item.-hat.-tablet,
    .filter-button-trend-wrap.-tablet  {
        display: none;
    }
    .service-item {
        margin: 0 auto;
    }

    .service-item:not(:last-child) {
        margin-bottom: 48px;
    }

    .service-wrap,
    .customer-wrap {
        flex-wrap: wrap;
    }

    .customer-info,
    .customer-subscribe {
        margin: 0 auto;
    }
    .card-filter-button-wrap {
        width: calc((100% / 2) - 30px);
    }
    .card-filer {
        padding: 0 20px;
    }
    .filter-button-trend-wrap .filter-button:not(:last-child) {
        margin-right: 15px;
    }
    .filter-button-trend-wrap {
        width: 60%;
    }
    .page-footer-wrap {
        padding: 0 32px;
    }
    .cards.-product .-olive-jacket {
        display: none;
    }
    /*Cart*/
    .cart-cards-wrap {
        flex-direction: column;
    }

    .cart-cards-summary {
        max-height: 190px;
    }

    .card-cards-items {
        width: 100%;
    }

    .cart-cards-form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 128px;
        flex-wrap: wrap;
    }

    .cart-cards-summary {
        margin-top: 35px;
    }

    .cart-cards-form-wrap {
        width: 50%;
    }
    .cart-cards-buttons {
        justify-content: center;
    }
    .cart-cards-button-clear {
        margin-right: 48px;
    }
    .reg-form {
        margin-right: 22px;
    }
}

@media only screen and (max-width: 420px) {
    .page-header-left {
        margin: 0 0 0 16px;
    }

    .page-header-button-wrap {
        margin: 0 16px 0 0;
    }

    .account-button,
    .cart-button,
    .teaser-image {
        display: none;
    }

    .page-teaser {
        display: flex;
        justify-content: center;
        min-height: 363px;
        margin-bottom: 64px;
    }

    .page-teaser-wrap {
        margin-bottom: 0;
    }

    .page-teaser-title {
        font-size: 38px;
    }

    .page-teaser-subtitle {
        font-size: 20px;
    }

    .categories-item.-women,
    .categories-item.-men,
    .categories-item.-kids {
        height: 167px;
        width: 100%;
        height: 247px;
        flex: none;
    }

    .categories-item:not(:last-child) {
        margin-bottom: 32px;
    }

    .categories-item.-categories-full-wrap,
    .cards-paragraph {
        margin-bottom: 64px;
    }

    .cards {
        margin: 0 8px;
    }

    .cards-item {
        width: 100%;
        margin-bottom: 16px;
    }

    .cards-button {
        margin: 18px auto 96px auto;
    }

    .filter-button-text {
        display: none;
    }

    .service {
        padding: 48px 0 81px 0;
    }

    .customer-wrap {
        padding: 97px 10px 109px 10px;
    }

    .customer-info-text {
        width: 100%;
    }

    .customer-subscribe-subtitle {
        font-size: 14px;
    }

    .customer-subscribe-form-email {
        width: 70%;
    }

    .customer-subscribe-form-button {
        width: 30%;
    }

    .page-footer {
        padding: 43px 0 9px 0;
    }

    .page-footer-wrap {
        flex-direction: column-reverse;
    }

    .page-footer-socials {
        margin: 0 auto 40px auto;
    }

    .page-footer-text {
        text-align: center;
    }

    .page-teaser-catalog-wrap {
        flex-direction: column;
        justify-content: center;
    }
    .page-catalog-teaser-left {
        margin-bottom: 32px;
        color: #F16D7F;
    }
    .page-catalog-teaser-right {
        font-size: 14px;
    }
    .page-teaser-catalog {
        margin-bottom: 24px;
    }
    .filter-button-trend-wrap{
        width: 100%;
    }
    .filter-button-trend-wrap button {
        font-size: 12px;
    }
    .filter-button-trend-wrap .filter-button,
    .card-filter-button-wrap {
        margin-bottom: 0;
    }
    .filter-button-trend-wrap {
        width: 80%;
    }
    .card-filer {
        padding: 0;
    } 
    .card-filter-button-wrap, .filter-button {
        height: 80px;
    }
    .card-filter-button-wrap {
        width: 10%;
    }
    .card-filter-menu {display: none !important;}
    .card-filter-button-wrap:hover .filter-button {
        margin-left: 0;
    }
    .cards.-product .-olive-jacket {
        display: block;
    }
    .cards.-product .-hat {
        display: none;
    }
    .cart-cards-buttons {
        justify-content: space-between;
    }
    .cart-cards-button-clear {
        margin-right: 0;
    }

    .reg-form {
        margin-right: 0;
    }
    .reg-form-wrap{
        flex-direction: column;
        padding: 0 9px;
    }
    .reg-info {
        width: 100%;
        margin-top: 40px;
    }
    .page-teaser-catalog.-registration {
        margin-bottom: 40px;
    }
    .reg-info-title,
    .reg-info-text,
    .reg-info-list {
        font-size: 16px;
    }
    .filter-button-trend-wrap {
        top: 0;
    }
}



@media only screen and (max-width: 550px) {
    /*Cart*/
    .cart-cards-item img {
        width: 144px;
        height: 188px;
    }
    .cart-cards-text {
        padding: 13px 30px 0 15px;
    }
    .cart-cards-input-quantity {
        margin-left: 10px;
    }
    .cart-cards-close {
        right: 22px;
        top: 13px;
    }
    .cart-cards-title,
    .cart-cards-subtitle {
        font-size: 16px;
    }
    .cart-cards-subtitle {
        margin-bottom: 25px;
    }
    .cart-cards-info {
        font-size: 14px;
    }
    .cart-cards-input-quantity {
        width: 24px;
        height: 15px;
        font-size: 10px;
    }
    .cart-cards-buttons {
        margin-bottom: 48px;
    }
    .cart-cards-button-clear,
    .cart-cards-button-continue {
        font-size: 12px;
        text-transform: none;
        padding: 17px 20px;
    }
    .cart-cards-wrap {
        padding: 0 8px;
    }
    .cart-cards-form {
        margin-bottom: 96px;
    }
    .cart-cards-summary,
    .cart-cards-form-wrap {
        width: 100%;
    }
}